body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.start-btn {
    display: auto;
}

.gameboard {
    display: none;
}

.map {
    display: flex;
    flex-direction: row;
    margin: 25px auto 0;
    width: 500px;
    height: 500px;
    outline: solid 2px black;
}

.map>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.map>div>div {
    height: 100%;
    outline: solid 1px lightgrey;
}

.rock {
    background-image: url("./assets/rock.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.weapon1 {
    background-image: url("./assets/sword1.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.weapon2 {
    background-image: url("./assets/sword2.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.weapon3 {
    background-image: url("./assets/sword3.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.weapon4 {
    background-image: url("./assets/sword4.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.player1 {
    background-image: url("./assets/player1.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.player2 {
    background-image: url("./assets/player2.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.reachable-cell {
    background-color: lightskyblue;
    cursor: pointer;
}