body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.start-btn {
    display: auto;
}

.map {
    display: flex;
    flex-direction: row;
    margin: 25px auto 0;
    width: 500px;
    height: 500px;
    outline: solid 2px black;
}

.map>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.map>div>div {
    height: 100%;
    outline: solid 1px lightgrey;
}

.rock {
    background-color: #454545
}

.weapon1 {
    background-color: #ffc100;
}

.weapon2 {
    background-color: #ff9800;
}

.weapon3 {
    background-color: #ff5607;
}

.weapon4 {
    background-color: #f6412d;
}

.player1 {
    background-color: blue;
}

.player2 {
    background-color: green;
}